.divider {
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;

  @include clearfix();
}

// modified dividers
@import 'mods/divider-one';
@import 'mods/divider-two';
@import 'mods/divider-three';
@import 'mods/divider-four';