<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="styles/css/main.min.css">
</head>
<body>

  <div class="wrap">
    @@include('../partials/header.html')

    <div class="content">
      <p>loren ipsum loquitor loren ipsum loquitorloren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor</p>

    </div>

    @@include('../partials/footer.html')
  </div>

<script src="scripts/index.js"></script>

</body>
</html>