<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css"/>

  <link rel="stylesheet" type="text/css" href="styles/css/main.min.css">
</head>
<body>

  <div class="container">

  @@include('../partials/menu.html')


  <section class="divider divider-one">
    <div class="dark-overlay">
    <!-- @@include('../partials/header.html') -->

      <div class="box">
        <h1 class="companyName--centered animated zoomIn">
        Built to Last
        </h1>
        <div class="companySlogan animated delay1 fadeInUp">
          <p>Offering expert carpentry and construction expertise for projects large and small.</p>
        </div>
      </div>

    </div>
  </section>


  <section class="divider divider-two">

    <div class="divider__line divider-two__line"></div>
    <div class="divider__circle divider-two__circle animated delay1 grow">
      <a name="divider-two"></a>
      <span>About</span>
    </div>

    <div class="divider-inner-container">
      <article>
      <img class="about-image" src="/images/chris-1.png" />

        <div>
          <p>loren ipsum loquitor loren ipsum loquitorloren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor</p>
          <p>loren ipsum loquitor loren ipsum loquitorloren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor</p>
          <p>loren ipsum loquitor loren ipsum loquitorloren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor loren ipsum loquitor</p>
        </div>
        <div>
          <h2>Type of work</h2>
          <ul>
            <li>Loft conversions</li>
            <li>Extenstions</li>
            <li>Window reconstruction</li>
            <li>Carpentry</li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  <section class="divider divider-three">

    <div class="divider__line divider-three__line"></div>
    <div class="divider__circle divider-three__circle">
      <a name="divider-three"></a>
      <span>Projects</span>
    </div>

    <div class="divider-inner-container">


      <div class="projects-list-container">

        <ul>
          <li id="proj1"><a href="#">Window restoration, Putney</a></li>
          <li id="proj2"><a href="#">Project two</a></li>
          <li id="proj3"><a href="#">Project three</a></li>
          <li id="proj4"><a href="#">Project four</a></li>
          <li id="proj5"><a href="#">Project five</a></li>
          <li id="proj6"><a href="#">Project six</a></li>
        </ul>

      </div>

      <article class="project">

        <div class="project-copy">
          <h1>Window restoration</h1>

          <p><span class="project-headings">Description</span>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          <p><span class="project-headings">Location</span>: Woodborough road, Putney</p>
          <p><span class="project-headings">Images:</span></p>

        </div>

        <div data-behaviour="carousel-slider" class="carousel-slider">

        </div>

      </article>



    </div>


  </section>

  <section class="divider divider-four">

    <div class="divider__line divider-four__line"></div>
    <div class="divider__circle divider-four__circle">
      <a name="divider-four"></a>
      <span>Contact</span>
    </div>

    <div class="divider-inner-container">
      <article>
        <div class="contact-details">
          <span class="fa fa-lg fa-fw fa-phone"></span><span>Phone: 00000000000</span>
          <span class="fa fa-lg fa-fw fa-envelope"></span><span>Email: <a href="mailto:info@built-to-last.co.uk">info@built-to-last.co.uk</a></span>
        </div>

      </article>
    </div>
  </section>

    <!-- @@include('../partials/footer.html') -->
  </div>


  <script src="scripts/index.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

</body>
</html>