.main-nav {
  background-color: $blue-dark;
  color: $burlywood;
  text-align: right;
  padding: 5px 20px;

  ul {
    list-style-type: none;

    li {
      line-height: 2em;
    }
  }
}

.menu-item {
  color: white;
  padding-right: 10px;
}

%menu-item__heading {
  color: $dark-gold;
  padding-right: 5px;
}

.menu-item__heading--phone {
  @extend %menu-item__heading;

  &:before {
    @extend .fa;
    @extend .fa-lg;
    @extend .fa-fw;
    @extend .fa-phone;
  }
}

.menu-item__heading--email {
  @extend %menu-item__heading;

  &:before {
    @extend .fa;
    @extend .fa-lg;
    @extend .fa-fw;
    @extend .fa-envelope;
  }
}

.contact-details {
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
  li {
    display: block;
  }

}

@import 'menu--bp-768';