$divider-three--base-color: black;


/* Makes border-box properties */
@include border-box-sizing;

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.divider:nth-of-type(2) {
  margin-top: 0;
}

.divider__line {
  max-width: 500px;
  height: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.divider-two__line {
  border-top: 5px solid teal;
}

.divider-four__line {
  border-top: 5px solid $grey-green;
}

.divider__side-pattern:before, .divider__side-pattern:after {
  content: "";
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
}

.divider-inner-container{

  @include span(12 of 12);
  // @include push(1);

  padding: 15px;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  // @include bp-min($screen-md-min) {
  //   @include span(8 of 12);
  //   @include push(2);
  // }

}

/* Tells Susy there's 8 columns in the content */
.content {
  @include span(12 of 12);
  @include gutters();
  clear:both;
}

footer {
  @include span(12 of 12);
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  @include span(4 last);
}



.project-copy {
  // margin-left: @include span(1 or 12);
}


.about-image {
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}