.square__rotated {
  display: none;
  margin-left: -50px;
  position: absolute;

  @include square-rotated-45;

  div {
    transform: rotate(-45deg);
  }

}

.square__rotated--first {
  bottom: 172px;
  // background-color: white;
  background-color: rgba(255,255,255, 0.8);
}

.square__rotated--second {
  bottom: 22px;
  // background-color: $teal;
  background-color: rgba(255,255,255, 0.6);
}

.square__rotated--third {
  bottom: 97px;
  left: 75px;
  // background-color: $burlywood;
  background-color: rgba(193,124,68, 0.6);
}

@include bp-min($screen-md-min) {
  .square__rotated {
    display: block;
  }
}
