
<div class="nav-container" id="main-nav-container-js">
  <nav role="nav" class="menu-side">

    <div class="menu-item menu-item--about">

      <div class="menu-item__container">
        <div class="menu-item__symbol">
          <span class="fa fa-lg fa-fw fa-info-circle"></span>
        </div>
        <div class="menu-item__heading">
          <span class="">About</span>
        </div>
      </div>

    </div>

      <div class="menu-item menu-item--projects">
        <div class="menu-item__container">
          <div class="menu-item__symbol">
            <span class="fa fa-lg fa-fw fa-building-o"></span>
          </div>
          <div class="menu-item__heading">
            <span class="">Projects</span>
          </div>
        </div>
      </div>

      <div class="menu-item menu-item--contact">
        <div class="menu-item__container">
          <div class="menu-item__symbol">
            <span class="fa fa-lg fa-fw fa-phone"></span>
          </div>
          <div class="menu-item__heading">
            <span class="">Contact</span>
          </div>
        </div>
      </div>

  </nav>
</div>