
.projects-list {
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 23px;
  }

  img {
    background-color: black;
    @extend .grow;
  }
}

.projects-list__heading {

}