// colour scheme

// https://color.adobe.com/Salamander-color-theme-19777/

$blue-pale: #B8ECD7;
$blue-pale-rgb: 184, 236, 215;

$blue-sea: #083643;
$yellowy-green: #B1E001;
$green-light: #CEF09D;
// $grey-green: #476C5E;
$grey-green: #23362F;

$yellow: #FFFF00;
