// colour scheme

$brown-dark: #302F2E;
$skyblue: #87CEEB;
$teal: #008080;
$burlywood: #DEB887;
$gold: #c17c44;
$dark-gold: #c17c44;

$blue-pale: #B8ECD7;
$blue-pale-rgb: 184, 236, 215;

$blue-dark: #39424e;
$blue-sea: #083643;
$yellowy-green: #B1E001;
$green-light: #CEF09D;
$grey-green: #23362F;

$yellow: #FFFF00;
$grey: #E5E5E5;
$grey-2: #727272;
